torch
transformers
datasets
scikit-learn
fastapi
uvicorn
celery
redis
streamlit
requests
pandas
altair
matplotlib
tensorflow==2.15.0  # Pinning to a stable version
tf-keras
Pillow
streamlit-authenticator
PyYAML    